global-include *.json
global-include uk_american_text.txt
global-include *current.pickle master_word_list.pickle ComplementNB* MultinomialNB*
global-include *cmudict* *words* *averaged_perceptron_tagger* 